<h1>{{title}} Les</h1>


<div class="row courseGoal">
	<p>Doel van deze les: {{goal}}</p>
	<p>De les is gericht op: {{targetGroup}}</p>
	<p>Dit is de voorkennis die voor deze les nodig is: {{prerequisites}}</p>
</div>

<h2>De topics</h2>
	
{{#each topics}}
	<div class="topicRow">
		<h3>{{#link-to "topic" this}}{{title}}{{/link-to}}<i class="fa fa-chevron-right"></i></h3>
	</div>
{{/each}}

<h2>De opdracht</h2>

{{#each assignments}}
<div class="assignmentRow">
	<h3>{{title}}</h3>
	{{#link-to "assignment" this}}{{title}}{{/link-to}}
</div>
{{/each}}
