<div class="lessonMainColumn">

	{{#link-to 'course' class="linkToParent"}}<i class="fa fa-chevron-left"></i>{{course.title}}{{/link-to}}

	<h1>{{title}} les</h1>


	<div class="row courseGoal">
		<p><span class="targetIcon"></span><span>Doel van deze les: {{goal}}</span></p>
		<p><span class="userIcon"></span><span>De les is gericht op: {{targetGroup}}</span></p>
		<p><span class="prerequisitesIcon"></span><span>Benodigde voorkennis: {{prerequisites}}</span></p>
	</div>

	<h2>De topics</h2>
		
	{{#each topics}}
		<div class="topicRow">
			<i {{bind-attr class=":fa isCompleted:fa-check:fa-none"}}></i><h3>{{#link-to "lesson.topic" this}}{{title}}{{/link-to}}<i class="fa fa-chevron-right"></i></h3>
		</div>
	{{/each}}

	<h2>De opdracht</h2>

	{{#each assignments}}
	<div class="assignmentRow">
		<i {{bind-attr class=":fa isCompleted:fa-check:fa-none"}}></i><h3><h3>{{#link-to "lesson.assignment" this}}{{title}}{{/link-to}}<i class="fa fa-chevron-right"></i></h3>
	</div>
	{{/each}}

</div>

<div class="lessonSideColumn">
	<div class="lessonProgress">
		<h3>Progressie</h3>
		<div id="progressbar"></div>
		<span>{{progress}}%</span>
	</div>
	<div class="lessonLevel">
		<h3>Niveau les</h3>
		<span>{{lesson_level}}</span>
	</div>
	<div class="lessonTimeIdication">
		<h3>Tijdsindicatie</h3>
		<span>{{lesson_time_indication}}</span>
	</div>
	<div class="lessonAuthors">
		<h3>Deze les is ontwikkeld door</h3>
		{{#each lesson_authors}}
		<span>{{name}}</span>
		{{/each}}
	</div>
	<div class="lessonBadge">
		<h3>Badge voor deze les</h3>
		<img {{bind-attr src="img"}}/>
		<span>Behaald!</span>
	</div>
</div>
