<div class="courseProgress">
	<h1>{{title}} cursus</h1>

	{{#each lessons}}
		<div class="lessonProgressOverview">
			{{#view BecomeTjunaFish.LessonProgressView contentBinding="this"}}
				<div class="lessonProgressHeader">
					<h2>{{title}} les</h2><img {{bind-attr src="img"}}/>
					<span class="progressPercent">{{progress}}%</span>
				</div>
			{{/view}}
			{{#each topics}}
				<div class="lessonTopic">
					<i {{bind-attr class=":fa isCompleted:fa-check:fa-none"}}></i>
					<h3>
						{{title}}
					</h3>
				</div>
			{{/each}}
			{{#each assignments}}
				<div class="lessonTopic">
					<i {{bind-attr class=":fa isCompleted:fa-check:fa-none"}}></i>
					<h3>
						{{title}}
					</h3>
				</div>
			{{/each}}
		</div>
	{{/each}}
	
</div>
