<div class="paddingContainer">

	<div class="popUpReward">
		<h2>{{title}} afgerond</h2>
		<p class="popUpPoints">10<span class="popUpPointsText">punten erbij</span></p>
		<div class="popUpNextTopic">
			<p class="nextTopicBtn">{{#link-to 'lesson.topic' nextTopic}}Volgende<i class="fa fa-chevron-right"></i>{{/link-to}}</p>
		</div>
		<div class="closePopUp">
			<i class="fa fa-times"></i>
		</div>
	</div>

	{{#link-to 'lesson' class="linkToParent"}}<i class="fa fa-chevron-left"></i>{{lesson.title}}{{/link-to}}

	<div class="topicColumn">
		<h2>{{title}}</h2>
		<p class="intro">{{intro}}</p>
		<a target="_blank" {{bindAttr href="external_link"}} class="linkContainer">
			<span class="linkIcon"></span><span class="linkTitle">Leer dit op {{link_name}}</span>
		</a>
		<div class="topicCompleted">
			<div class="checkbox">
				{{input id="check1" type="checkbox" checked=isCompleted name="check" value="check1"}}
				<label for="check1">Ik heb dit bestudeerd</label>
			</div>
		</div>


		<div class="nextTopic">
			<h2><span class="nextTopicDivider"></span>Volgende topic<span class="nextTopicDivider"></h2>

			<button class="nextTopicBtn">{{#link-to 'lesson.topic' nextTopic}}Volgende<i class="fa fa-chevron-right"></i>{{/link-to}}</button> 
		</div>
	</div>
</div>
